<%= form_with(model: reminder) do |form| %>
  <% if reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

      <ul>
        <% reminder.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :remind_at %>
    <%= form.text_field :remind_at, id: 'reminder' %>
  </div>

  <div class="field">
    <%= form.label :reminder %>
    <%= form.text_area :reminder %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<script>
  flatpickr("#reminder", {
    altFormat: "F j, Y H:i",
    enableTime: true,
    dateFormat: "Y-m-d H:i",
    time_24hr: true,
  });
</script>
