<%= form_with(model: reminder) do |form| %>
  <% if reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

      <ul>
        <% reminder.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :remind_at %>
    <%= form.datetime_select :remind_at %>
  </div>

  <div class="field">
    <%= form.label :reminder %>
    <%= form.text_area :reminder %>
  </div>

  <div class="field">
    <%= form.label :users_id %>
    <%= form.text_field :users_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
