<!DOCTYPE html>
<html>
  <head>
    <title>SimpleRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  Only works for me, not approved by Facebook yet:
  <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, method: :post %>
  <%= link_to "Greet", greet_path, method: :post %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
